.card {
  position: absolute;
  left: 0;
  right: 0;
  top: 19%;
  margin: auto;
  width: 320px;
  height: 500px;
  border-radius: calc(var(--index) / 2);
  background: rgba(25, 25, 25, 0.6666666667);
  background: linear-gradient(180deg, rgba(255, 108, 253, 0.5) 0%, rgba(47, 234, 129, 0) 50%);
  backdrop-filter: blur(4px);
  box-shadow: inset 0 2px 2px 0 rgba(231, 196, 160, 0.5333333333), inset 0 -2px 2px 0 rgba(0, 0, 0, 0.2);
  color: #ccc;
  text-shadow: 1px 1px 3px rgba(51, 51, 51, 0.6666666667);
  padding: 24px;
  padding-right: 42px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.card .card__logo {
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  width: 80%;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  box-shadow: inset 0px 0px 10px 0px #1f1f1f;
}
.card .card__social a {
  display: flex;
  flex-direction: row;
  height: clamp(25px, var(--index) * 2, 50px);
  align-items: center;
}
.card .card__social a svg {
  max-height: calc(var(--index) * 1.5);
  width: 20%;
}
.card .card__social a span {
  font-family: var(--font-mono);
  font-size: 11px;
  color: var(--color-text-muted);
  text-transform: capitalize;
  display: inline-flex;
  height: calc(var(--index) * 1.5);
  align-items: center;
  transition: 0.6s;
}
.card .card__social a span:hover {
  color: var(--color-text-active);
  transition: 0.6s;
}
.card .card__social a span:hover::after {
  content: url("../assets/svg/external-link-svgrepo-com(1).svg");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 0 0 calc(var(--index) / 4);
  filter: invert(1);
}

.accents {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
}
.accents .acc-card {
  width: 330px;
  height: 500px;
  background: rgba(238, 238, 238, 0.0666666667);
  opacity: 0.8;
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  margin: auto;
  border-radius: calc(var(--index) / 2);
  box-shadow: inset 0 2px 2px 0 rgba(224, 201, 178, 0.4), inset 0 -2px 2px 0 rgba(0, 0, 0, 0.2666666667);
  backdrop-filter: blur(var(--index));
  transition: all 0.1s linear;
  transform-origin: 20% 80%;
}
.accents .acc-card:nth-child(1) {
  animation: wobble 18s ease-in-out infinite;
}
.accents .acc-card:nth-child(2) {
  animation: wobble 22s ease-in-out -6s infinite reverse;
}
.accents .acc-card:nth-child(3) {
  animation: wobble 26s ease-in-out -18s infinite;
}
.accents .light {
  --bgref: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 487 487'%3E%3Ccircle cx='243' cy='243.5' r='233' style='fill:none; opacity:.1; stroke:%23aaa; stroke-linecap:round; stroke-miterlimit:10; stroke-width:18px;'/%3E%3Ccircle cx='243.5' cy='243.5' r='243' style='fill:none; stroke:%23111; stroke-linecap:round; stroke-miterlimit:10;'/%3E%3Ccircle cx='243' cy='243.5' r='222' style='fill:none; stroke:%23111; stroke-linecap:round; stroke-miterlimit:10;'/%3E%3Cpath d='m10,243.5C10,114.82,114.32,10.5,243,10.5' style='fill:none; stroke:%23ddd; stroke-linecap:round; stroke-miterlimit:10; stroke-width:18px;'/%3E%3C/svg%3E");
  position: absolute;
  left: 0;
  right: calc(0% + 300px);
  top: 264px;
  margin: auto;
  width: 164px;
  height: 164px;
  z-index: -2;
  background-image: var(--bgref);
  animation: rotate360 22s linear infinite;
}
.accents .light::before, .accents .light::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-image: var(--bgref);
  filter: blur(3px);
  scale: 1.01;
}
.accents .light::after {
  filter: blur(8px);
}
.accents .light.sm {
  width: 100px;
  height: 100px;
  left: calc(0% + 300px);
  right: 0;
  top: 142px;
  bottom: 0;
  animation: rotate360 18s linear -10s infinite;
}
.accents .top-light {
  position: absolute;
  left: 0;
  right: 0;
  top: -42px;
  margin: auto;
  width: 284px;
  height: 6px;
  border-radius: 10px;
  background: linear-gradient(to right, rgb(255, 108, 253), #181a1b);
  box-shadow: 0 0px 1px 1px rgba(122, 82, 82, 0.4196078431), 0 1px 2px 1px rgba(72, 40, 64, 0.47), 0 2px 6px 1px rgba(237, 18, 233, 0.47), 0 4px 12px 0px rgba(23, 119, 124, 0.6), 0 12px 20px 12px rgba(237, 35, 224, 0.27);
}

@keyframes rotate360 {
  to {
    rotate: 360deg;
  }
}
@keyframes wobble {
  0% {
    transform: translateX(10px) translateY(20px) rotate(-3deg) scale(1);
  }
  20% {
    transform: translateX(-44px) translateY(-8px) rotate(6deg) scale(1.02);
  }
  60% {
    transform: translateX(32px) translateY(18px) rotate(-8deg) scale(1);
  }
  80% {
    transform: translateX(-42px) translateY(-22px) rotate(12deg) scale(0.94);
  }
  100% {
    transform: translateX(10px) translateY(20px) rotate(-3deg) scale(1);
  }
}
@media screen and (max-height: 600px) {
  .card {
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .card img {
    display: none;
  }
  .acc-card {
    height: 180px !important;
  }
  .card,
  .accents {
    top: 30%;
  }
  .accents .light {
    top: 124px;
    bottom: 0;
  }
  .accents .light.sm {
    top: 42px;
  }
}/*# sourceMappingURL=contact-card.css.map */