@media screen and (min-width: 769px) {
	.player-page__content {
		height: 100dvh;
		width: 100dvw;
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-content: center;

		.player-page__gallery {
			position: absolute;
			width: 40%;
			height: 50%;
			left: 5%;
			top: 25%;
			z-index: -1;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;

			.gallery-canvas {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}

			canvas {
				position: absolute;
				backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-moz-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
			}
		}

		.player-page__player {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 0 0 100%;
			height: 100dvh;
		}
	}
}

#player-container {
	position: absolute;
	right: 0;
	left: 0;
	width: 80%;
	height: 100px;
	margin: 0 auto;
	transform: translateY((calc(-50% + 100px)));
}

#player-bg-artwork {
	position: fixed;
	top: -30px;
	right: -30px;
	bottom: -30px;
	left: -30px;
	background-image: url("https://raw.githubusercontent.com/himalayasingh/music-player-1/master/img/_1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	filter: blur(40px);
	-webkit-filter: blur(40px);
	z-index: 1;
}

#player-bg-layer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	opacity: 0.5;
	z-index: 2;
}

#player {
	position: relative;
	height: 100%;
	z-index: 3;
}

#player-track {
	position: absolute;
	top: 0;
	right: 8px;
	left: 8px;
	padding: 13px 22px 10px 184px;
	background-color: #e5e4e1;
	border-radius: 8px 8px 0 0;
	transition: 0.3s ease top;
	z-index: 1;
}

#player-track.active {
	top: -92px;
}

#album-name {
	color: #54576f;
	font-size: 17px;
	font-weight: bold;
}

#track-name {
	color: #acaebd;
	font-size: 13px;
	margin: 2px 0 13px 0;
}

#track-time {
	height: 12px;
	margin-bottom: 3px;
	overflow: hidden;
}

#current-time {
	float: left;
}

#track-length {
	float: right;
}

#current-time,
#track-length {
	color: transparent;
	font-size: 11px;
	background-color: #ffe8ee;
	border-radius: 10px;
	transition: 0.3s ease all;
}

#track-time.active #current-time,
#track-time.active #track-length {
	color: #f86d92;
	background-color: transparent;
}

#seek-bar-container,
#seek-bar {
	position: relative;
	height: 4px;
	border-radius: 4px;
}

#seek-bar-container {
	background-color: #ffe8ee;
	cursor: pointer;
}

#seek-time {
	position: absolute;
	top: -29px;
	color: #fff;
	font-size: 12px;
	white-space: pre;
	padding: 5px 6px;
	border-radius: 4px;
	display: none;
}

#s-hover {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	opacity: 0.2;
	z-index: 2;
}

#seek-time,
#s-hover {
	background-color: #3b3d50;
}

#seek-bar {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0;
	background-color: #fd6d94;
	transition: 0.2s ease width;
	z-index: 1;
}

#player-content {
	position: relative;
	height: 100%;
	box-shadow: 0 0px 90px #210132;
	z-index: 2;
	background: rgba(255, 255, 255, 0.38);
	border-radius: 8px;
	backdrop-filter: blur(10px);
}

#album-art {
	position: absolute;
	top: -40px;
	width: 115px;
	height: 115px;
	margin-left: 40px;
	transform: rotateZ(0);
	transition: 0.3s ease all;
	box-shadow: 0 0 0 10px #fff;
	border-radius: 50%;
	overflow: hidden;

	&.active {
		top: -60px;
		box-shadow: 0 0 0 4px #fff,
			0 30px 50px -15px #F85E5D;
	}
}

#album-art:before {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	width: 20px;
	height: 20px;
	margin: -10px auto 0 auto;
	background-color: #d6dee7;
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px #fff;
	z-index: 2;
}

#album-art img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: -1;
}

#album-art img.active {
	opacity: 1;
	z-index: 1;
}

#album-art.active img.active {
	z-index: 1;
	animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@keyframes rotateAlbumArt {
	0% {
		transform: rotateZ(0);
	}

	100% {
		transform: rotateZ(360deg);
	}
}

#buffer-box {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	height: 13px;
	color: #1f1f1f;
	font-size: 13px;
	font-family: Helvetica;
	text-align: center;
	font-weight: bold;
	line-height: 1;
	padding: 6px;
	margin: -12px auto 0 auto;
	background-color: rgba(255, 255, 255, 0.19);
	opacity: 0;
	z-index: 2;
}

#album-art img,
#buffer-box {
	transition: 0.1s linear all;
}

#album-art.buffering img {
	opacity: 0.25;
}

#album-art.buffering img.active {
	opacity: 0.8;
	filter: blur(2px);
	-webkit-filter: blur(2px);
}

#album-art.buffering #buffer-box {
	opacity: 1;
}

#player-controls {
	width: 250px;
	height: 100%;
	margin: 0 5px 0 141px;
	float: right;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.control {
	width: 33.333%;
	float: left;
	padding: 12px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	width: 64px;
	height: 64px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;

	.fa-forward,
	.fa-backward,
	.fa-pause,
	.fa-play {
		&::before {
			display: block;
			height: 100%;
			width: 100%;
		}
	}

	.fa-backward {
		&::before {
			content: url("../assets/svg/player_previous.svg");
		}
	}

	.fa-play {
		&::before {
			content: url("../assets/svg/player_start.svg");
		}
	}

	.fa-pause {
		&::before {
			content: url("../assets/svg/player_pause.svg");
		}
	}

	.fa-forward {
		&::before {
			content: url("../assets/svg/player_next.svg");
		}
	}
}

.button i {
	display: block;
	color: #d6dee7;
	font-size: 26px;
	text-align: center;
	line-height: 1;
}

.button,
.button i {
	transition: 0.2s ease all;
}

.button {
	@media (hover: hover) {
		&:hover {
			filter: drop-shadow(0 0px 3px var(--color-bg2));

			i {
				color: #ff0000;
			}
		}
	}

	@media (hover: none) {
		&:active {
			filter: drop-shadow(0 0px 3px var(--color-bg2));

			i {
				color: #ff0000;
			}
		}
	}
}

// player background

@keyframes moveInCircle {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes moveVertical {
	0% {
		transform: translateY(-50%);
	}

	50% {
		transform: translateY(50%);
	}

	100% {
		transform: translateY(-50%);
	}
}

@keyframes moveHorizontal {
	0% {
		transform: translateX(-50%) translateY(-10%);
	}

	50% {
		transform: translateX(50%) translateY(10%);
	}

	100% {
		transform: translateX(-50%) translateY(-10%);
	}
}

.gradient-bg {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background: linear-gradient(40deg, #210132, rgb(0, 0, 0));
	top: 0;
	left: 0;

	svg {
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
	}


	.gradients-container {
		filter: url(#goo) blur(40px);
		width: 100%;
		height: 100%;
	}

	.g1 {
		position: absolute;
		background: radial-gradient(circle at center, #070707, 0, rgba(var(--color1), 0) 50%) no-repeat;
		mix-blend-mode: var(--blending);

		width: var(--circle-size);
		height: var(--circle-size);
		top: calc(50% - var(--circle-size) / 2);
		left: calc(50% - var(--circle-size) / 2);

		transform-origin: center center;
		animation: moveVertical 30s ease infinite;

		opacity: 1;
	}

	.g2 {
		position: absolute;
		background: radial-gradient(circle at center, #210132 0, rgba(var(--color2), 0) 50%) no-repeat;
		mix-blend-mode: var(--blending);

		width: var(--circle-size);
		height: var(--circle-size);
		top: calc(50% - var(--circle-size) / 2);
		left: calc(50% - var(--circle-size) / 2);

		transform-origin: calc(50% - 400px);
		animation: moveInCircle 20s reverse infinite;

		opacity: 1;
	}

	.g3 {
		position: absolute;
		background: radial-gradient(circle at center, #012634 0, rgba(var(--color3), 0) 50%) no-repeat;
		mix-blend-mode: var(--blending);

		width: var(--circle-size);
		height: var(--circle-size);
		top: calc(50% - var(--circle-size) / 2 + 200px);
		left: calc(50% - var(--circle-size) / 2 - 500px);

		transform-origin: calc(50% + 400px);
		animation: moveInCircle 40s linear infinite;

		opacity: 1;
	}

	.g4 {
		position: absolute;
		background: radial-gradient(circle at center, #011037 0, rgba(var(--color4), 0) 50%) no-repeat;
		mix-blend-mode: var(--blending);

		width: var(--circle-size);
		height: var(--circle-size);
		top: calc(50% - var(--circle-size) / 2);
		left: calc(50% - var(--circle-size) / 2);

		transform-origin: calc(50% - 200px);
		animation: moveHorizontal 40s ease infinite;

		opacity: 0.7;
	}

	.g5 {
		position: absolute;
		background: radial-gradient(circle at center, #011037 0, rgba(var(--color5), 0) 50%) no-repeat;
		mix-blend-mode: var(--blending);

		width: calc(var(--circle-size) * 2);
		height: calc(var(--circle-size) * 2);
		top: calc(50% - var(--circle-size));
		left: calc(50% - var(--circle-size));

		transform-origin: calc(50% - 800px) calc(50% + 200px);
		animation: moveInCircle 20s ease infinite;

		opacity: 1;
	}

	.interactive {
		position: absolute;
		background: radial-gradient(circle at center, #070707 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
		mix-blend-mode: var(--blending);

		width: 100%;
		height: 100%;
		top: -50%;
		left: -50%;

		opacity: 0.7;
	}
}